# Ignora modulos de cliente y servidor
client/node_modules/
server/node_modules/

client/build/

*.log

*.env

# Ignora archivos del sistema
.DS_Store
Thumbs.db

# Opcional: settings de vscode
.vscode/
